@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mali:wght@400&family=Patrick+Hand&family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mali", cursive;
}

:root {
  --bgcolor: #edf2f4;
  --gray: #8d99ae;
  --primary-color: #2b2d42;
  --white: #ffffff;
  --red: #ef233c;
}

body {
  background-color: var(--bgcolor);
  width: 100%;
}

.navbar {
  padding: 0px;
  background-color: var(--primary-color);
  color: var(--white);
  top: 0;
  left: 0;
}

.nav-link {
  color: var(--white);
  font-size: 1rem;
  border-bottom: none;
  transition: border-bottom 3s;
}

.nav-link:hover {
  color: var(--white);
  border-bottom: 2px solid var(--white);
}

.nav-logo {
  color: var(--white);
  font-size: 1.8rem;
  font-family: "Mali", cursive;
}

.nav-logo:hover {
  color: var(--gray);
  border: none;
}

.quiz-category-title {
  text-align: center;
  font-size: 2rem;
  color: var(--gray);
  margin: 2rem 0;
}

.quiz-category-list {
  column-gap: 2rem;
  margin-bottom: 4rem;
}

.play-btn {
  background-color: var(--red);
  border-radius: 15px;
  padding: 0.2rem 1rem;
  margin-left: 1rem;
}

@media only screen and (max-width: 43rem) {
  .quiz-category-list {
    flex-direction: column;
    row-gap: 2rem;
  }
  .card {
    width: 15rem;
    height: auto;
  }
  .card-img {
    object-fit: cover;
    width: 15rem;
    height: 10rem;
  }
  .play-btn {
    margin-left: 0;
  }
  .card-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .flex {
    align-items: center;
    justify-content: center;
  }
}
